{% extends 'base.html' %}

{%block content%}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">


      <div class="carousel-item active">
        <img src="static/images/wall.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/wall2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/new2.gif" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/images/new3.gif" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> 

  <div class="section one" id="section1">
  <br><br>
  <hr><br>
  <h1 class='text-center'>Notice board</h1>
  <br><br>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
          {%for post in object_list %}
          <div class="col">
              <div class="card h-100">
                  <img src="static/images/img1.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h7 class="card-author">{{ post.author}}</h7>
                    <p class="card-text">{{post.snippet}}</p>
                    <a href= "{% url 'article-detail' post.pk %}" class="btn btn-sm btn-primary">See More!</a>
                    {% comment %} {% if user.is_authenticated %} {% endcomment %}
                        {% if user.is_superuser %} 
                            <a href="{% url 'update_post' post.pk %}" class="btn btn-sm btn-dark">Edit</a>
                            <a href="{% url 'delete_post' post.pk %}" class="btn btn-sm btn-danger">Delete</a>
                        {% endif %} 
                    {% comment %} {% endif %} {% endcomment %}
                    <hr>
                      
                        {{post.post_date}}
                    
                  </div>
              </div>
          </div>
          {% endfor %} 
      </div>
    </div>
  </div>
</div>

{%endblock%}
